<ion-content [fullscreen]="true">

  <ion-toolbar color="primary">

    <ion-buttons slot="end">
      <ion-icon size="large" (click)="logout()" name="exit-outline"></ion-icon>
     </ion-buttons>
  </ion-toolbar>
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="assets/images/face.png" />
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-item [routerLink]="['/stories']" lines="none" class="ion-text-center">
        <ion-icon name="storefront-outline" color="primary"></ion-icon>
        <ion-label>
          34
          <p>Store</p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
     
        <ion-icon name="bag-check-outline" color="primary"></ion-icon>
        <ion-label>
          34
          <p>Orders</p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item [routerLink]="['/products']"  lines="none" class="ion-text-center">
      
        <ion-icon name="restaurant-outline" color="primary"></ion-icon>
        <ion-label>
          14
          <p>Product</p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item [routerLink]="['/statistics']"  lines="none" class="ion-text-center">
        <ion-icon name="cash-outline" color="primary"></ion-icon>
        <ion-label>
          0
          <p>Statistic</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list lines="full" style="padding: 5px;">
    <ion-item>
      <ion-label>
        <ion-text>Name</ion-text>
        <p><ion-text color="dark">{{user?.name}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Phone</ion-text>
        <p><ion-text color="dark">{{user?.number}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Email</ion-text>
        <p><ion-text color="dark">{{user?.email}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Store Name</ion-text>
        <p><ion-text color="dark">{{user?.storeName}}</ion-text></p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Address</ion-text>
        <p><ion-text color="dark">{{user?.storeAdress}}</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>