<ion-content>
    <h3 class="title" *ngIf="(cartItems$|async).length">{{(cartItems$|async).length}} ürün sepette</h3>

    <!-- CART ITEMS -->
    <ion-list lines="none">
        <ion-item-sliding *ngFor="let item of cartItems$|async">
            <ion-item>
                <app-cart-item [item]="item" (increase)="onIncrease(item)" (decrease)="onDecrease(item)"></app-cart-item>
            </ion-item>
            <ion-item-options side='end'>
                <ion-item-option (click)="removeFromCart(item)">
                    <ion-icon name='trash-outline' size='large' color='danger'></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!-- EMPTY CART -->
    <div class="empty-cart" *ngIf="!(cartItems$|async).length">
        <ion-icon name="d-cart"></ion-icon>
        <p>Ürün bulunmamaktadır</p>
    </div>

    <!-- CHECKOUT BUTTON -->
    <app-button *ngIf="(cartItems$|async).length" (click)="submit()">
        Toplam: <span>{{totalAmount$|async|number:'1.2'}}<sup>som</sup></span>
    </app-button>

    <h3 class="title" > Önceki siparişler</h3>
    <ion-list lines="none">
        <ion-item-sliding *ngFor="let item of cartItems$|async">
            <ion-item>
                <app-card-history-item [item]="item" (increase)="onIncrease(item)" (decrease)="onDecrease(item)"></app-card-history-item>
            </ion-item>
 
        </ion-item-sliding>
    </ion-list>
</ion-content>