<div class="card" >



        <ion-img (click)="clicked.emit()" [src]="item.image"></ion-img>

    <div class="card-content">
        <h3 (click)="clicked.emit()" class="title">{{item.title}}</h3>
        <h2 (click)="clicked.emit()" class="subtitle">{{item.price}}<sup>som</sup></h2>
        <div *ngIf="type">
            <ion-badge *ngIf="item?.is_active=='0'"  color="danger"  slot="start">Possive</ion-badge>
            <ion-badge *ngIf="item?.is_active=='1'" color="success" slot="start">Possive</ion-badge>
        </div>
       
        <ion-buttons slot="start">
            <ion-button  *ngIf="!type"  (click)="clicked.emit()">
       
               <ion-icon  slot="icon-only" name="add"></ion-icon>
               
            </ion-button>
            <ion-button *ngIf="type"  (click)="edit.emit()">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
             </ion-button>
        </ion-buttons>
    </div>
</div>