<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button routerLink="/home/profile">
        <ion-icon slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">
        List
      </ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- SEARCHBAR -->
  <!-- <app-searchbar></app-searchbar> -->

  <!-- CATEGORY -->
  <!-- <div class="categories">
      <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
  </div> -->

  <!-- PRODUCTS -->
  <!-- <h1 class="list-header">Popüler</h1> -->
  <div class="food-list">
      <app-food-card *ngFor="let food of foods" [item]="food" [type]="true" (clicked)="goToDetailPage(food.id)" (edit)="goToEditPage(food)"></app-food-card>
  </div>
</ion-content>
