<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button routerLink="/home/profile">
        <ion-icon slot="icon-only" color='light' name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">
        Orders
      </ion-title>
    </ion-buttons>
 

  </ion-toolbar>

  <ion-grid></ion-grid>
  <ion-list class="popover" lines="none">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <h1>
              <b>291</b>
              <ion-text class="ion-margin-start" color="primary"></ion-text>
            </h1>
            <p>Pribil</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label class="ion-text-wrap ion-text-right">
            <h1>
              <ion-text class="ion-margin-end" color="primary"></ion-text>
              <b>481</b>
            </h1>
            <p>Zakaz</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <canvas #lineCanvas></canvas>
      </ion-col>
    </ion-row>
  </ion-list>

  <div class="ion-padding" (ionChange)="segmentChanged($event)">
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button value="1">
        <ion-label>Dayly</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Monthly</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content>



  <ion-list lines="none">
    <!-- <ion-item color="light">
      <ion-label class="heading">Plasma{{segmentValue == '1' ? ' Requests' : ' Donors'}} near you</ion-label>
      <ion-button slot="end" fill="clear" size="small">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-item> -->

    <ion-item-group>
      <ion-item-sliding *ngFor="let item of (segmentValue == '1') ? requests : donors">
        <ion-item (click)="options()" class="ion-padding-vertical popItem">
          <ion-thumbnail slot="start">
            <div class="ion-text-center">
              <ion-text color="white">URGENT</ion-text>
            </div>
            <p class="ion-text-center" [style.margin]="segmentValue == '1' ? '10px 0' : '10px 0'">
              <ion-text style="color: #fff;">{{200}}</ion-text>
            </p>
          </ion-thumbnail>
          <ion-label>
            <ion-note color="dark"><b>20.12.20010</b></ion-note>
            <p class="ion-text-wrap" >Pribil: 10000</p>
   
            <p>
              <ion-text color="danger">{{item?.age}}</ion-text>
              <ion-text color="danger"><span>&#9679;</span>Rashod: 10000</ion-text>
         
            </p>
          </ion-label>
     
        </ion-item>
        <ion-item-options side='end'>
          <ion-item-option (click)="removeFromCart(item)">
            <ion-icon name='checkmark-done-outline' size='large' color='success'></ion-icon>

          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>
  </ion-list>

</ion-content>